body{
    background-color: whitesmoke;
}
.top{
    margin-top: 60px;
    border-radius: 5px;
    background-color: white;
}
.btn-border{
    margin-left:742px;
}
form{
    margin-top: 15px;
}
/*Botoes meus dados*/
.btn-config{
    margin-left: px;
}
.btn-config-1{
}

/* btn cadastro pecas*/
.button{
    margin-top: 31px;
    left: 465px;
}
.buttons{
    margin-right: 950px;
}