img{
    margin-top: 15px;
}
.img-top{
    margin-right: 100px;
    margin-left: 430px;
    margin-top: 100px;
}
h1{
    text-align: center;
    margin-top: 25px;
}
h4{
    text-align: center;
    margin-top: 25px;
}
.top{
    margin-top: 200px;
}
.espacamento{
    margin-top: 70px;

}
hr{
    border-color: black;
}
.pp{
    margin-left: 360px;
    text-align: center;
    align-items: center;
}
.pp1{
    margin-left: 330px;
    width: 390px;

}
.rodape{
    text-align: center;
    margin-top: 380px;
}
p{
    font-size:16px;
}


    